
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}



/*
    <aside> element is container for 3<section>s
        <section> element: Lead generation,
                    Brand awareness,
                    Cost management 
*/
/* <aside>*/
.benefits {
    background-color: #2589bd;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin-right: 20px;
    padding: 20px;
    width: 20%;
}
/*  <section> heading */
.benefits h3{
    margin-bottom: 10px;
    text-align: center;
}

.benefits img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
 }


 .benefits > section{
    color: #ffffff;
    margin-bottom: 32px;
}
/* ---------------------------- End of <aside> ----------------------------------------- */





/* 
    <Main> element is container for 3<aritcle>s
        <artcle>: Search engine optimization, 
                    Online Reputation Management,
                    Social Media Marketing
*/
.content {
    display: inline-block;
    margin-left: 20px;
    width: 75%;
}

.content > article{
    background-color: #0072bb;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300px;
    margin-bottom: 20px;
    padding: 50px;
}
/* <article> heading */
.content h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.content img{
    max-height: 200px;
}
/* ---------------------------- End of <main> ----------------------------------------- */



/* positions the img to the left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* positions the img to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Footer of the page */
.footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    text-align: center;
}

.footer>h2 {
    font-size: 20px;
}
/* ---------------------------- End of <footer> ----------------------------------------- */



/* 
    Header of the page : Company name
                         and the 3 menu items:
                            Search engine optimisation,
                            Online reputation Management,
                            Social media marketing
    
*/
.header {
    background-color: #2a607c;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}
/* Company Name */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* menu items */
.header li {
    display: inline-block;
    margin-left: 25px;
}
/* menu */
.header > nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}
/* menu list */
.header ul {
    list-style-type: none;
}
/* ---------------------------- End of <header> ----------------------------------------- */



/* Hero image */
.hero {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    margin-bottom: 25px;
    width: 100%;
}

/* Defines text colour of letter "seo" */
.seo {
    color: #d9dcd6;
}
